
.banner{
    height: 400px;
    .container__banner{
        width: 100%;
        height: 100%;
        background-image: url("../IMG/banner.jpg");
        background-position: center;
        background-repeat: no-repeat;
        object-fit: cover;
    }
}