//MAIN
@import 'variaveis';

main{
    display: block;
    margin-top: -2rem;
    box-shadow: $--shadown--1;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    z-index: 1000;
}

section{
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*==================== LAYOUT ==================*/
.container{
    max-width: 768px ;
    margin: 0 $--mb--1-5;
}