@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

$--header--height:3rem;

//cor dinamica 
$--hsl--color:111;

/*HSL color mode */
$--body--background: hsl($--hsl--color, 60%, 99%);
$--main--background: hsl($--hsl--color, 60%, 70%);
$--title--color:hsl($--hsl--color, 8%, 15%);
$--text-color: hsl(var($--hsl--color), 8%, 45%);
$--text-color-light: hsl(var($--hsl--color), 8%, 65%);

/*========= FONTE WEIGHT =========*/
$--body--font: 'Poppins', sans-serif;


/*========= FONTE WEIGHT =========*/
$--font-medium: 500;
$--font-semi-bold: 600;

/*========= MARING =========*/
$--margin-l-1:1.5rem;
$--mb--1-5: 1.5rem; 

/*========= SHADOWN =========*/
$--shadown--1: -6px -6px 6px #0000002d;
$--shadown--2: 1px 2px 4px #0000002d;

/*========= INDEX =========*/
$--z--first:99;
$--z--secund:95;
$--z--fixed:100;

/*========= ICONS =========*/
$--icons--mobile: 50px;
$--icons--mobile: 75px;

/*
margin: 0 0 var(--header-height) 0;
font-family: var(--body-font);
font-size: var(--normal-font-size);
background-color: var(--body-color);
color: var(--text-color);
*/

//