@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

$--header--height:3rem;

//cor dinamica 
$--hsl--color:358;

/*HSL color mode */
$--body--background: hsl($--hsl--color, 60%, 99%);//branco
$--text--color: hsl($--hsl--color, 60%, 70%);//text
$--main--background: hsl($--hsl--color, 60%, 70%);//vermelho fraco
$--logo--color: hsl($--hsl--color, 79%, 41%);//logo
$--logo--background: hsl($--hsl--color, 79%, 41%);//logo_descrição

/*========= FONTE FAMYLI =========*/
$--body--font: 'Poppins', sans-serif;


/*========= FONTE SIZE =========*/
$--font--size-1: 4rem;
$--font--size-2: 2rem;

/*========= FONTE WEIGHT =========*/
$--font-medium: 500;
$--font-semi-bold: 600;

/*========= MARING =========*/
$--margin-l-1:1.5rem;
$--mb--1-5: 1.5rem; 

/*========= PADDING =========*/
$--padding--1:0.5rem;

/*========= SHADOWN =========*/
$--shadown--1: -6px -6px 6px #0000002d;
$--shadown--2: 1px 2px 4px #0000002d;
$--shadown--logo: 1px 2px 7px #fff;

/*========= INDEX =========*/
$--z--first:99;
$--z--secund:95;
$--z--fixed:100;

/*========= ICONS =========*/
$--icons--mobile: 50px;
$--icons--mobile: 75px;

/*
margin: 0 0 var(--header-height) 0;
font-family: var(--body-font);
font-size: var(--normal-font-size);
background-color: var(--body-color);
color: var(--text-color);
*/

//