//ddsa

//Nav 
@import 'nav';

//header simples 
@import 'banner';

//section elaborado

@import 'main'; 

//media responsivo
@import 'media';

//Variaveis
@import 'variaveis';

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0 0 $--header--height 0 ;
    background: $--body--background;
    font-family: $--body--font;
}

.container{
    max-width: 768px;
    margin: 0 $--margin-l-1;
}

h1, h2, h3, h4{
    font-weight: $--font-semi-bold;
}

img{
    max-width: 100%;
    height: auto;
}

#whatsapp{
    position: absolute;
    bottom:3rem ;
    right: 1rem;
    transition: 0.4s;
}
#whatsapp img{
    width: 50px;
}
